# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage
*.lcov

# Optional npm cache directory
.npm

# dotenv environment variables
.env

# VSCode settings
.vscode/

# Output of 'npm pack'
*.tgz
